<section id="Proyectos">
    <header>
        <h2>PROYECTOS</h2>
    </header>
    <div class="containerCarrusel">
        <div class="itemCarrusel">
            <img src="img1.png" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img2.png" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img3.png" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img4.png" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img5.png" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img6.png" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img7.jpg" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img8.jpg" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img9.jpg" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img10.jpg" alt="" />
        </div>
        <div class="itemCarrusel">
            <img src="img11.jpg" alt="" />
        </div>
    </div>
    <div class="controlsCarrusel_left">
        <svg
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FFF"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M15 6l-6 6l6 6"></path>
        </svg>
    </div>
    <div class="controlsCarrusel_right">
        <svg
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FFF"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 6l6 6l-6 6"></path>
        </svg>
    </div>
</section>

<style>
    section {
        position: relative;
        padding: 25px 20px;
        height: auto;
        width: 100%;
        background-color: var(--light-blue);
        background-image: url("https://dhiso.vercel.app/fondo2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
    }
    header {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }
    header h2 {
        border-top: 3px solid var(--red);
        font-family: var(--cocogoose-light);
        font-weight: bold;
        font-size: 3.9rem;
        color: white;
    }
    .containerCarrusel {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 480px;
        overflow: hidden;
    }
    .itemCarrusel {
        min-width: 100%;
        height: 100%;
    }
    .itemCarrusel img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .controlsCarrusel_left {
        position: absolute;
        top: calc(50% - 44px);
        left: 5%;
    }
    .controlsCarrusel_left svg {
        cursor: pointer;
    }
    .controlsCarrusel_right {
        position: absolute;
        top: calc(50% - 44px);
        right: 5%;
    }
    .controlsCarrusel_right svg {
        cursor: pointer;
    }
    @media only screen and (min-width: 901px) {
        section {
            padding: 70px 90px;
        }
        section header {
            max-width: 1120px;
            margin: 0 auto 100px;
        }
        .containerCarrusel {
            margin: 0 auto;
            height: 680px;
            max-width: 1120px;
        }
        .contentCarrusel {
            margin: 80px auto 0;
            height: 600px;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const elements = document.querySelectorAll(".containerCarrusel .itemCarrusel")
        const nextBtn = document.querySelector(".controlsCarrusel_right")
        const prevBtn = document.querySelector(".controlsCarrusel_left");

        let actualIndex = 0;

        function showElement() {
            elements.forEach((element, index) => {
                if (index === actualIndex) {
                    element.style.display = "block";
                } else {
                    element.style.display = "none";
                }
            });         
        }

        function next() {
            if (actualIndex < elements.length - 1) {
                actualIndex++;
            } else {
                actualIndex = 0;
            }
            showElement();
        }

        function back() {
            if (actualIndex > 0) {
                actualIndex--;
            } else {
                actualIndex = elements.length - 1;
            }
            showElement();
        }

        showElement();

        nextBtn.addEventListener("click", next)
        prevBtn.addEventListener("click", back)
    })
</script>
