---
import 'swiper/css';
import 'swiper/css/navigation';
import 'photoswipe/style.css';
---

<section id="Proyectos">
    <header>
        <h2>PROYECTOS</h2>
    </header>
    <!-- Contenedor principal de Swiper -->
    <div class="swiper" id="swiper-albums">
         <!-- Wrapper adicional requerido -->
        <div class="swiper-wrapper">
            <!-- Álbum 1 -->
           <div class="swiper-slide">
                <a href="/images/proyectos/1.CASA_ABULIA/img1.jpg"
                    data-gallery="album1"
                    data-pswp-width="1200"
                    data-pswp-height="800"
                    data-cropped="true">
                    <img src="/images/proyectos/1.CASA_ABULIA/img1.jpg" alt="Proyecto Casa Ambuila" />
                </a>
            </div>
            <!-- Álbum 2 -->
            <div class="swiper-slide">
                <a href="/images/proyectos/2.CASA_HORIZONTE/img1.jpg"
                    data-gallery="album2"
                    data-pswp-width="1200"
                    data-pswp-height="800"
                    data-cropped="true">
                    <img src="/images/proyectos/2.CASA_HORIZONTE/img1.jpg" alt="Proyecto Casa Horizonte" />
                </a>
            </div>     
             <!-- Álbum 3 -->
            <div class="swiper-slide">
                <a href="/images/proyectos/3.CASA_LIENZO/img1.jpg"
                    data-gallery="album3"
                    data-pswp-width="1200"
                    data-pswp-height="800"
                    data-cropped="true">
                    <img src="/images/proyectos/3.CASA_LIENZO/img1.jpg" alt="Proyecto Casa Lienzo" />
                </a>
            </div>   
             <!-- Álbum 4 -->
            <div class="swiper-slide">
                <a href="/images/proyectos/4.CASA_P/img1.jpg"
                    data-gallery="album4"
                    data-pswp-width="1200"
                    data-pswp-height="800"
                    data-cropped="true">
                    <img src="/images/proyectos/4.CASA_P/img1.jpg" alt="Proyecto Casa P" />
                </a>
            </div>   
             <!-- Álbum 3 -->
            <div class="swiper-slide">
                <a href="/images/proyectos/5.CASA_SOL/img1.jpg"
                    data-gallery="album5"
                    data-pswp-width="1200"
                    data-pswp-height="800"
                    data-cropped="true">
                    <img src="/images/proyectos/5.CASA_SOL/img1.jpg" alt="Proyecto Casa Sol" />
                </a>
            </div>   
        </div>

    <!--botones de navegación -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <!--Galeria oculta -->

    <!-- Galería de Proyecto 1 -->
    <div class="pswp-gallery" id="album1" style="display: none;">
        <a href="/images/proyectos/1.CASA_ABULIA/img1.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/1.CASA_ABULIA/img2.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/1.CASA_ABULIA/img3.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
    </div>
    <!-- Galería de Proyecto 2 -->
    <div class="pswp-gallery" id="album2" style="display: none;">
        <a href="/images/proyectos/2.CASA_HORIZONTE/img1.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/2.CASA_HORIZONTE/img2.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/2.CASA_HORIZONTE/img3.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
    </div>
    <!-- Galería de Proyecto 3 -->
    <div class="pswp-gallery" id="album3" style="display: none;">
        <a href="/images/proyectos/3.CASA_LIENZO/img1.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/3.CASA_LIENZO/img2.png" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/3.CASA_LIENZO/img3.png" data-pswp-width="1200" data-pswp-height="800"></a>
    </div>
    <!-- Galería de Proyecto 4 -->
    <div class="pswp-gallery" id="album4" style="display: none;">
        <a href="/images/proyectos/4.CASA_P/img1.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/4.CASA_P/img2.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/4.CASA_P/img3.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
    </div>
    <!-- Galería de Proyecto 5 -->
    <div class="pswp-gallery" id="album5" style="display: none;">
        <a href="/images/proyectos/5.CASA_SOL/img1.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/5.CASA_SOL/img2.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/5.CASA_SOL/img3.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/5.CASA_SOL/img4.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/5.CASA_SOL/img5.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
        <a href="/images/proyectos/5.CASA_SOL/img6.jpg" data-pswp-width="1200" data-pswp-height="800"></a>
    </div>
</section>

<style>
    section{
        position: relative;
        padding: 55px 25px;
        height: auto;
        width: 100%;
        background-color: var(--light-blue);
        background-image: url("/images/fondo2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
    }
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    header h2 {
        border-top: 3px solid var(--red);
        font-family: var(--cocogoose-light);
        font-weight: bold;
        font-size: 3.2rem;
        color: white;
    }
    .swiper-slide {
    height: 600px; /* Altura de cada slide */
    border-radius: 5px;
    overflow: hidden;   
   }
    .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   
    
  @media(max-width: 768px) {
  .swiper-slide {
    width: 80%; /* Útil si la propiedad slidesPerView es "auto" */
    height: 400px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
</style>

<script type="module" src="/src/scripts/swiper-lightbox.js"></script>