<section id="QuienesSomos">
    <article class="article-top-inner">
        <h2 class="article-top_tittle">QUIENES SOMOS</h2>
        <article class="article-top">
            <p>
                En DHISO ingenieria & construcción, somos un equipo de
                profesionales con una amplia trayectoria que quiere llevar a la
                práctica el concepto "YOUR COMFORTABLE HOME", a través de
                nuestras alternativas de diseño y construcción de obras a la
                medida de los requerimientos de nuestros clientes. Nuestra
                propuesta de valor está basada en el cumplimiento de compromisos
                acogiéndose a 3 ejes fundamentales: PRECIO - CALIDAD- PLAZO. <br
                />
                <br />
                No obstante, nuestra experiencia y profesionales de alto nivel son
                el sello que nos distingue, pues en un trabajo en conjunto nuestros
                arquitectos diseñan, los ingenieros Optimizan y juntos construyen
                grandes obras con una mirada en común, pensando siempre en quienes
                luego habitarán y harán suyos estos espacios.
            </p>
            <img src="quienessomos1.png" alt="Imagen de una sala de estar." />
        </article>
    </article>
    <article class="article-bottom-inner">
        <h2 class="article-bottom_tittle">EXPERIENCIA</h2>
        <article class="article-bottom">
            <p>
                Nuestra empresa se sustenta en los más de 10 años de experiencia
                tanto en el sector público como privado, logrando concretar
                importantes proyectos sociales tanto para SERVIU como a clientes
                particulares a lo largo del litoral central de la V Región. <br
                />
                <br /> Entre nuestras obras cabe destacar nuestro particular estilo
                de trabajo ligado plenamente a la calidad en todo el proceso de ejecución
                de la obra, tanto con los equipos de trabajo como en materiales,
                obra gruesa y terminaciones, controlando los procesos constructivos
                de acuerdo a los estados de avance, normativa, especificaciones técnicas
                de cada proyecto y la legislación vigente.
            </p>
            <img
                src="quienessomos2.png"
                alt="Imagen de una construcción tomada desde arriba."
            />
        </article>
    </article>
</section>

<style>
    section {
        width: 100%;
        height: auto;
    }
    .article-top-inner {
        padding: 20px 25px 0;
    }
    .article-top_tittle {
        display: inline-block;
        border-top: 3px solid var(--red);
        margin-bottom: 10px;
        font-family: var(--cocogoose-light);
        font-weight: bold;
        font-size: 3.9rem;
        color: var(--light-blue);
    }
    .article-top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .article-top p {
        font-family: var(--helvetica-regular);
        font-size: 1.7rem;
        text-align: justify;
        color: var(--dark-blue);
    }
    .article-bottom-inner {
        display: flex;
        flex-direction: column;
        padding: 0 25px 20px;
    }
    .article-bottom_tittle {
        margin-left: auto;
        display: inline-block;
        border-top: 3px solid var(--red);
        margin-bottom: 10px;
        font-family: var(--cocogoose-light);
        font-weight: bold;
        font-size: 3.9rem;
        color: var(--light-blue);
    }
    .article-bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .article-bottom p {
        font-family: var(--helvetica-regular);
        font-size: 1.7rem;
        text-align: justify;
        color: var(--dark-blue);
    }
    @media only screen and (min-width: 901px) {
        .article-top-inner {
            margin: 0 auto;
            max-width: 1470px;
            padding: 88px 155px 0;
        }
        .article-top {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
        .article-top p {
            width: 55%;
        }
        .article-top img {
            width: 45%;
            object-fit: cover;
            object-position: center;
        }
        .article-bottom-inner {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 1470px;
            padding: 88px 155px;
        }
        .article-bottom {
            flex-direction: row-reverse;
            align-items: center;
            gap: 40px;
        }
        .article-bottom_tittle {
            margin-left: auto;
        }
        .article-bottom p {
            width: 45%;
        }
        .article-bottom img {
            width: 55%;
            object-fit: cover;
            object-position: center;
        }
    }
</style>
