---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logoisotipo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Cocogoose Light';
		src: url('/fonts/cocogoose.ttf');
	}
	@font-face {
		font-family: 'Helvetica Regular';
		src: url('/fonts/helvetica.ttf');
	}
	:root {
		--gray: #606060;
		--red: #FF0138;
		--light-blue: #061D41;
		--dark-blue: #041327;
		--cocogoose-light: 'Cocogoose Light';
		--helvetica-regular: 'Helvetica Regular';
	}
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-size: 62.5%;
		text-decoration: none;
	}
</style>
